<h3>We have a potential client</h3>

A user wuth the following details contacted you.
Name: {{ name }}
Email: {{ email }}
Company: {{ company }}
Telephone: {{ telephone }}
Message: {{ message }}

Thanks!
